/* i cri everytim */

body {
  margin: 0;
  background: url(miche.png) black;
  font-family: "Comic Sans MS", cursive;
  color: white;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

h1 {
  font-size: 4em;
  display: block;
}

p {
  font-size: 3em;
}

audio {
  display: none;
  visibility: hidden;
}
